# Python / VS Code
__pycache__/
*.py[cod]
.venv/
.env
.vscode/

*.log
*.err

# Large data / model outputs
plasgraph2-datasets/
model/ESKAPEE_model/*

!model/ESKAPEE_model/optuna_visualizations/
!retraining_loss_over_epochs.png
!model/ESKAPEE_model.log